@model IEnumerable<ProyectoBD.Select_Medico_Paciente_Result>
@{
    ViewBag.Title = "Busqueda Medico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-warning">@ViewBag.Message</div>
    }
}

<h2>Busqueda Medico</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-md-10">
                <label>Ingrese el Nombre a buscar</label>
                <input type="text" name="name" value="" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cédula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cédula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>

        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

