@model ProyectoBD.Clínica

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clínica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teléfono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teléfono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sitio_Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sitio_Web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantón)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantón)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
